{# the is_preview check allows us to adjust display for "in-gutenberg-editor" view #}
{# the ACF fields defined for the block are available in the twig context for this #}
{# block in the `fields` variable #}
{% block acfblock %}
    {# EXAMPLE CONTENT FOR EDITOR #}
    {% if is_preview and fields == false %}
        {#   EXAMPLE MARKUP GOES HERE - SHOWN IN EDITOR WHEN NO CONTENT EXISTS YET #}
        {#   Alternativley - use a screengrab of what the block would look like here   #}
    {% endif %}

    {# REAL CONTENT #}
    {% if fields != false %}
        <!-- Case study -->
        <div class="wrapper-section bold-gradient p-top-10 p-bottom-10">
            <div class="grid-container">

                <div class="split-content-block">
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-6">
                            {% set TImg = Image(fields.image) %}
                            {% set altOverride = "card side image" %}
                            {% set srcset = TImg.src|resize(640) ~ ' 1024w, ' ~ TImg.src|resize(640) ~ ' 300w,' %}
                            {{ include( 'fragments/img.twig', {'TImg': TImg, 'srcset':srcset, altOverride:altOverride, class:'img'} )  }}
                        </div>
                        <div class="cell medium-6 align-self-middle">
                            <div class="content content--right content--quote">
                                <p class="body-large m-bottom-4">{{ fields.text_content }}</p>
                                <h4 class="headline-4 m-bottom-7">{{ fields.name }}, {{ fields.role }}</h4>
                                {% if fields.link %}
                                    <a class="btn-secondary" href="{{ fields.link.url }}">
                                        <span>{{ fields.link.title }}</span>
                                        <span class="show-for-sr">button for {{ fields.link.title }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endif %}

{% endblock %}





