{# the is_preview check allows us to adjust display for "in-gutenberg-editor" view #}
{# the ACF fields defined for the block are available in the twig context for this #}
{# block in the `fields` variable #}
{% block acfblock %}
    {# EXAMPLE CONTENT FOR EDITOR #}
    {% if is_preview and fields == false %}
        {#   EXAMPLE MARKUP GOES HERE - SHOWN IN EDITOR WHEN NO CONTENT EXISTS YET #}
        {#   Alternativley - use a screengrab of what the block would look like here   #}
    {% endif %}

    {# REAL CONTENT #}
    {% if fields != false %}
        <!-- Latest news and media -->
        <div class="wrapper-section p-top-10 p-bottom-10">
            <div class="grid-container">

                <div class="grid-x grid-padding-x large-up-3 medium-up-2 align-center">
                    {% for post in fields.feature_cards %}

                    <div class="cell">
                        <a class="feature-card m-bottom-10" href="{{ post.link.url }}">
                            <div class="inner">
                                {% set TImg = Image(post.image) %}
                                {% set altOverride = "feature image" %}
                                {% set srcset = TImg.src|resize(640) ~ ' 1024w, ' ~ TImg.src|resize(640) ~ ' 300w,' %}
                                {{ include( 'fragments/img.twig', {'TImg': TImg, 'srcset':srcset, altOverride:altOverride, class:'img'} )  }}
                                <div class="content">
                                    <h3 class="headline-3 m-bottom-4">{{ post.title }}</h3>
                                    <p class="body-small m-bottom-6">{{ post.text }}</p>
                                    <span class="btn-secondary">
										<span>{{ post.link.title }}</span>
									</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>

    {% endif %}

{% endblock %}





