{# the is_preview check allows us to adjust display for "in-gutenberg-editor" view #}
{# the ACF fields defined for the block are available in the twig context for this #}
{# block in the `fields` variable #}
{% block acfblock %}
    {# EXAMPLE CONTENT FOR EDITOR #}
    {% if is_preview and fields == false %}
        {#   EXAMPLE MARKUP GOES HERE - SHOWN IN EDITOR WHEN NO CONTENT EXISTS YET #}
        {#   Alternativley - use a screengrab of what the block would look like here   #}
    {% endif %}

    {# REAL CONTENT #}
    {% if fields != false %}
        <!-- How we can help -->
        <div class="wrapper-section m-top-10 m-bottom-7">
            <div class="grid-container">

                <div class="section-title-block m-bottom-8">
                    <h2 class="headline-1 m-bottom-4">{{ fields.title }}</h2>
                    <p class="body-large">{{ fields.subtitle }}</p>
                </div>

                <div class="grid-x grid-padding-x large-up-3 medium-up-2">
                {% for card in fields.cards %}
                    <div class="cell">
                        <a class="help-card m-bottom-8" href="{{ card.link.url }}">
                            <div class="inner">
                                {% set TImg = Image(card.icon) %}
                                {% set srcset = TImg.src|resize(70) ~ ' 1024w, ' ~ TImg.src|resize(70) ~ ' 300w,' %}
                                {{ include( 'fragments/img.twig', {'TImg': TImg, 'srcset':srcset, altOverride:TImg.post_title, class:'img-how-we-can-help img '} )  }}                                <div class="content">
                                    <h3 class="headline-3 m-bottom-2">{{ card.title }}</h3>
                                    <span class="btn-secondary">
										<span>Learn more</span>
									</span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>

            </div>
        </div>
    {% endif %}

{% endblock %}





