<div class="wrapper-section p-top-4 p-bottom-8">
    <div class="grid-container">

        <article class="wysiwyg-block wysiwyg">
            <h6>Charity website: <a href="{{ fields.charity_website.url }}">{{ fields.charity_website.url }}</a></h6>
            <h6>Phone number: <a href="tel:{{ fields.charity_phone }}">{{ fields.charity_phone }}</a></h6>
            <h6>Email: <a href="mailto:{{ fields.charity_email }}">{{ fields.charity_email }}</a></h6>
        </article>
    </div>
</div>
