<div class="wrapper-section p-top-4 p-bottom-8">
    <div class="grid-container">

        <article class="wysiwyg-block wysiwyg">
            <h6>Funder website: <a href="{{ fields.funders_website.url }}">{{ fields.funders_website.url }}</a></h6>
            <h6>Phone number: <a href="tel:{{ fields.funders_phone }}">{{ fields.funders_phone }}</a></h6>
            <h6>Email: <a href="mailto:{{ fields.funders_email }}">{{ fields.funders_email }}</a></h6>
        </article>
    </div>
</div>
